$mainColor         : #15023a;
$darkPrimaryColor  : #222831;
$darkSecondaryColor: #393E46;
$accentColor       : #FD7014;
$darkAccentColor   : #EEEEEE;
$textColor         : #fff;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}